<!-- Button to Redirect to Statistics -->

<p>{{ 'timelineText' | translate }}</p>

<div id="chart">
  <apx-chart
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [plotOptions]="chartOptions?.plotOptions"
    [xaxis]="chartOptions?.xaxis"
    [yaxis]="chartOptions?.yaxis"
    [tooltip]="chartOptions?.tooltip"
    [legend]="chartOptions?.legend">
  </apx-chart>
</div>

<!-- User Stories Table -->
<h2>{{ 'userStoriesTitle' | translate }}</h2>
<table class="user-stories-table">
  <thead>
  <tr>
    <th>{{ 'UserStory' | translate}} </th>
    <th>{{ 'titleHeader' | translate }}</th>
    <th>{{ 'effortHeader' | translate }}</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let story of userStories"
      [ngStyle]="{'background-color': getColorBySprint(story.sprint)}">
    <td>{{ story.id }}</td>
    <td>{{ story.title }}</td>
    <td>{{ story.effort }}</td>
  </tr>

  </tbody>
</table>
<br>
<div class="members-container" *ngIf="members && members.length > 0">
  <h3>{{ 'membersTitle' | translate }}</h3>
  <ul>
    <li *ngFor="let member of members" class="member-item">
      <img src="https://cdn-icons-png.flaticon.com/512/1361/1361728.png" alt="Icon" class="member-icon" />
      <span>{{ member.fullName }}</span>

      <span class="member-role">{{ member.role }}</span> <!-- Mostrar el rol -->
    </li>
  </ul>
</div>
