<div class="form-list">
  <h6 class="form-title">{{ newTask.taskId ? 'Editar Tarea' : 'Agregar nueva Tarea' }}</h6>
  <form (ngSubmit)="onSubmit()" class="task-form">
    <mat-form-field>
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input matInput [(ngModel)]="newTask.title" name="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea matInput [(ngModel)]="newTask.description" name="description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'status' | translate }}</mat-label>
      <mat-select [(ngModel)]="newTask.status" name="status" required>
        <mat-option value="TO_DO">To Do</mat-option>
        <mat-option value="IN_PROGRESS">In Progress</mat-option>
        <mat-option value="DONE">Done</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'estimation' | translate }}</mat-label>
      <input matInput type="number" [(ngModel)]="newTask.estimation" name="effort" required/>
    </mat-form-field>

    <mat-card-actions>
      <button class="action-button-cancel" mat-raised-button color="warn" (click)="onCancel()" type="button">{{ 'cancel' | translate }}</button>
      <button class="action-button-accept" mat-raised-button color="primary" type="submit">{{ newTask.taskId ? 'Save' : 'Add' }}</button>
    </mat-card-actions>
  </form>
</div>
