<h2 mat-dialog-title>Edit Members</h2>
<mat-dialog-content>
  <ul>
    <li *ngFor="let member of data.members" class="member-item">
      <span class="member-name">{{ member.id }}</span>

      <div class="button-group">
        <button mat-raised-button color="warn" (click)="removeMember(member)" class="remove-button">Remove</button>
        <button
          mat-raised-button
          *ngIf="!isMemberInMeeting(member)"
          (click)="addMember(member)"
          class="add-button">Add</button>
        <button
          mat-raised-button
          class="set-host-button"
          color="primary"
          (click)="setHost(member)"
          [disabled]="member.id === meeting.host">Set as Host</button>
      </div>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="close-button" (click)="onCancel()">Close</button>
</mat-dialog-actions>
