/* Estilo del contenedor de fondo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo gris oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo del modal */
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 400px; /* Ajusta el ancho según sea necesario */
  z-index: 1001; /* Asegúrate de que el modal esté encima del overlay */
}

/* Estilo del botón de cerrar */
.close-button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333; /* Color del texto del botón */
}

mat-form-field {
  width: 100%; /* Asegúrate de que el campo de entrada ocupe todo el ancho */
}

input[type="time"] {
  font-size: 1.2em; /* Ajusta el tamaño de la fuente según tus preferencias */
}
